@{
    ViewData["Title"] = "Owner Equity";
}

<div class="text-center">
    <p class="display-4">Statement of Owner’s Equity</p>

</div>

<div class="card mb-2">
    <div class="card-body">

        <div class="row g-3">
            <div class="col-5">
                <div class="form-group">
                    <label for="date" class="form-label">Select Date</label>
                    <input name="ctl00$ContentPlaceHolder$date" type="date" id="ContentPlaceHolder_date" class="form-control">
                </div>
                <input type="submit" name="ctl00$ContentPlaceHolder$btnSubmit" value="Generate" id="ContentPlaceHolder_btnSubmit" class="btn btn-primary">

            </div>

        </div>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 id="ContentPlaceHolder_companyName" class="card-title text-center">UBIT</h5>
        <h5 class="card-title text-center">Owners Sheet</h5>
        <h5 id="ContentPlaceHolder_generatedDate" class="card-title text-center">July 2022</h5>

        <h6 class="card-title">Begining Balance of the year</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction Type</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td scope="row">Thu, 14 Jul 2022</td>
                    <td scope="row">230</td>
                    <td scope="row">Credit</td>


                </tr>



            </tbody>
        </table>
        <strong id="ContentPlaceHolder_beginingBalance" class="badge badge-primary text-left">230</strong>
        <h6 class="card-title">Net Income</h6>
        <strong id="ContentPlaceHolder_netIncome" class="badge badge-primary text-left">100</strong>

        <h6 class="card-title">Ending Balance of the year</h6>
        <strong id="ContentPlaceHolder_endingBalance" class="badge badge-secondary text-left">130</strong>

    </div>
</div>
