@{
    ViewData["Title"] = "T-Account";
}

<div class="text-center">
    <p class="display-4">T-Account</p>

</div>


<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-4 border p-3">
                <h6 class="card-title">Asset</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Debit</th>
                            <th scope="col">Credit</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row">100</td>
                            <td scope="row"></td>

                        </tr>

                        <tr>
                            <td scope="row">420</td>
                            <td scope="row"></td>

                        </tr>



                    </tbody>
                </table>
                <strong id="ContentPlaceHolder_assetSumContainer" style="float:left;">Total: &nbsp; <span id="ContentPlaceHolder_assetSum" class="badge badge-primary">520</span></strong>
            </div>

            <div class="col-md-4 border p-3">
                <h6 class="card-title">Expense</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Debit</th>
                            <th scope="col">Credit</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row"></td>
                            <td scope="row">100</td>

                        </tr>



                    </tbody>
                </table>
                <strong id="ContentPlaceHolder_expenseSumContainer" style="float:right;">Total: &nbsp; <span id="ContentPlaceHolder_expenseSum" class="badge badge-primary">100</span></strong>
            </div>

            <div class="col-md-4 border p-3">
                <h6 class="card-title">Liability</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Debit</th>
                            <th scope="col">Credit</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row">230</td>
                            <td scope="row"></td>

                        </tr>

                        <tr>
                            <td scope="row"></td>
                            <td scope="row">300</td>

                        </tr>



                    </tbody>
                </table>
                <strong id="ContentPlaceHolder_liabSumContainer" style="float:right;">Total: &nbsp; <span id="ContentPlaceHolder_liabSum" class="badge badge-primary">70</span></strong>
            </div>

            <div class="col-md-4 border p-3">
                <h6 class="card-title">Revenue</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Debit</th>
                            <th scope="col">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <strong id="ContentPlaceHolder_revenueSumContainer" style="float:left;">Total: &nbsp; <span id="ContentPlaceHolder_revenueSum" class="badge badge-primary">0</span></strong>
            </div>

            <div class="col-md-4 border p-3">
                <h6 class="card-title">Capital</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Debit</th>
                            <th scope="col">Credit</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row"></td>
                            <td scope="row">230</td>

                        </tr>

                        <tr>
                            <td scope="row"></td>
                            <td scope="row">120</td>

                        </tr>



                    </tbody>
                </table>
                <strong id="ContentPlaceHolder_capitalSumContainer" style="float:right;">Total: &nbsp; <span id="ContentPlaceHolder_capitalSum" class="badge badge-primary">350</span></strong>
            </div>

        </div>
    </div>

</div>