@{
    ViewData["Title"] = "Trial Balance";
}

<div class="text-center">
    <p class="display-4">Trial Balance</p>

</div>

<div class="card">
    <div class="card-body">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Element Type</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td scope="row">1</td>
                    <td scope="row">Asset</td>
                    <td scope="row">100</td>
                    <td scope="row"></td>
                </tr>

                <tr>
                    <td scope="row">2</td>
                    <td scope="row">Expense</td>
                    <td scope="row">100</td>
                    <td scope="row"></td>
                </tr>

                <tr>
                    <td scope="row">3</td>
                    <td scope="row">Liability</td>
                    <td scope="row"></td>
                    <td scope="row">230</td>
                </tr>

                <tr>
                    <td scope="row">4</td>
                    <td scope="row">Revenue</td>
                    <td scope="row"></td>
                    <td scope="row">0</td>
                </tr>

                <tr>
                    <td scope="row">5</td>
                    <td scope="row">Capital</td>
                    <td scope="row"></td>
                    <td scope="row">230</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

